[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
mixer = "*"
pytest = "*"
pytest-django = "*"
psycopg2-binary = "*"
pytest-cov = "*"
hypothesis = "*"
markdown = "*"

[requires]
python_version = "3.7"
